<div class= "container">

<hr style="height:1px;border:none;color:#333;background-color:#333;">

	<h1>NEW USER </h1>
	<h3>EMAIL {{input value = email}}<br></h3><hr>
	<h3>PASSWORD {{input value = password}}<br></h3><hr>
	<button {{action "createUser"}}>Create</button>

<hr style="height:1px;border:none;color:#333;background-color:#333;">

</div>


{{outlet}}